<title>Desenvolvimento de Web Sites</title>
<style>
    .services-title{
        font-family:Meloriac;
        font-weight: 400;
        font-size:25px;
        color:#D0302E;
        padding-bottom:30px;

    }
</style>

<header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Desenvolvimento de Web Sites</h1>
            </div>
        </div>
    </div>
</header>

<div class="gray-bg">
    <section class="container ft-cards">
      <div class="row section">
        
        <!-- Item 1 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item">
            <span class="linea-basic-pencil-ruler"></span>
            <h4 class="services-title">Desenvolva seu web site!</h4>
            <p>Comunique-se melhor com seu público criando um ambiente virtual com sua cara e adaptado para as suas necessidades.</p>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item">
            <span class="linea-basic-lightbulb"></span>
            <h4 class="services-title" style="font-size:19px">Feito de acordo com as tendências de Marketing</h4>
            <p>Análise de marketing, termos mais buscados, direcionamento de público e região.</p>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="ft-item">
            <span class="linea-ecommerce-graph-increase"></span>
            <h4 class="services-title" style="font-size:21.8px"> Integração com Google Analytics</h4>
            <p>Todos os dados de marketing do Google Analytics disponíveis para seu acesso vinte quatro horas por dia.</p>
          </div>
        </div>

      </div><!-- / .row -->
    </section>
  </div><!-- / .gray-bg -->

  <section class="container section">
    <div class="row ws-m">
      
      <header class="sec-heading">
        <h2 class="services-title">Desenvolva seu site com a ROLLE</h2>
      </header>

      <div class="col-md-6 mb-sm-50">
        <p style="font-size:22px; text-align:justify">E conquiste seu espaço no mundo virtual com todas as ferramentas que seu negócio necessita para ser potencializado, para explorar o mercado digital. Você pode ter um negócio regional ou global. O mundo inteiro pode ver o que você produz, o que você veio acrescentar, a marca que você vei deixar. Muitas criações geniais não avançam pois tem seu alcance limitado. A <b style="color:#D0302E">ROLLE</b> trabalha para produzir com o máximo de qualidade aquilo que você traz de melhor para o <b style="color:#D0302E">MUNDO TODO</b>. Esteja sempre a frente!</p>
      </div>
      <div class="col-md-6">
        <img style="width:100%" src="/assets/images/site-01.png"
      </div>
    </div><!-- / .row -->
</section>

<div class="cta-link" style="background-image: url(assets/images/background02-01.png); background-size:cover">
  <div class="bg-overlay">
    
    <div class="cta-wrapper">
      <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Quer construir seu site com a ROLLE?</h3>
      <a href="https://api.whatsapp.com/send?phone=5562999569773&text=" target="_blank" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s" style="background-color:#EE0808; color:white; margin-bottom:100px">Entre em contato via Whatsapp</a>
      <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Ou solicite seu orçamento pelo Email <b style="color:#EE0808; font-weight:400;letter-spacing:0.1em">rolle@rolleoficial.com.br</b></h3>
    </div>

  </div>
</div><!-- / .dark-bg .cta-link -->
