<title>Gestão de Mídias Sociais - ROLLE</title>
<style>
    .services-title{
        font-family:Meloriac;
        font-weight: 400;
        font-size:25px;
        color:#D0302E;
        padding-bottom:30px;

    }
    .ft-centered .ft-dark-spin span, .ft-x .ft-dark-spin span, .ft-y .ft-dark-spin span, .ft-centered .ft-dark-spin i, .ft-x .ft-dark-spin i, .ft-y .ft-dark-spin i {
    display: inline-block;
    color: #f8f8f8;
    border: 1px solid rgba(17, 17, 17, 0);
    background: #D0302E;
    border-radius: 100px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pt-plax-lg-dark {
    background: rgba(0, 0, 0, 0.27);
    background-size: cover;
}
</style>
<header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Gestão de Mídias Sociais</h1>
                <span class="subheading">Facebook, Instagram e YouTube</span>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid ft-layout-50">
    <div class="row">
          
          <!-- Feature 1 -->
          <div class="ft-item">
                <div class="col-lg-6 ft-img-wrapper">
                <img src="assets/images/fotos/rolle1.jpeg" alt="Features Image">
                </div>
                <div class="col-lg-6 ft-content-wrapper">
                <h5 class="services-title">Porque utilizar a gestão de <b style="font-weight:400; color:black">mídias sociais?</b></h5>
                <p style="font-size:20px; font-weight:500">Produzir conteúdo de qualidade é importante para suas redes sociais, mas saber utilizar esse conteúdo é o que manda para atingir esse objetivo. E disso nós entendemos!<br>Estar bem colocado no mundo digital não é uma questão de escolha, e se de se posicionar no novo mundo virtual que surge a cada dia.</p>
                </div>
          </div><!-- / .ft-item -->

    </div><!-- / .row -->
</div><!-- / .ft-layout-50 -->

<section class="container section ft-x">
        
        <header class="sec-heading">
            <h2 style="font-family:Meloriac; letter-spacing:0.1em">O que você ganha com a Gestão de Mídias Sociais</h2>
        </header>
        
        <div class="row ws-s">
        
            <div class="col-md-4 ft-item">
                <!-- Item 1 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-cloud-upload"></i>
                    <h5>Postagens diárias</h5>
                    <p>Produzimos seu conteúdo de fotos e vídeos e fazemos postagens diárias nos melhores horários.</p>
                </div><!-- / .ft-item -->
                      
                      <!-- Item 4 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-rocket"></i>
                    <h5>Um canal de comunicação com seus clientes e fãs</h5>
                    <p>Esteja próximo daqueles que fazem parte da realização de seus sonhos.</p>
                </div><!-- / .ft-item -->
            </div>
        
        
            <div class="col-md-4 ft-item">
                <!-- Item 2 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h5>Aumente seu número de seguidores! </h5>
                    <p>Ganhe seguidores com um trabalho sólido de marketing digital.</p>
                </div><!-- / .ft-item -->
                      
                <!-- Item 5 -->
                <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                    <i class="fa fa-rocket"></i>
                    <h5>Cresimento rápido</h5>
                    <p>Com a utilização de uma gestão de mídias sociais bem aplicada, suas o alcance de páginas crescem rapidamente.</p>
                </div><!-- / .ft-item -->
            </div>
        
        
                    <div class="col-md-4 ft-item">
                      <!-- Item 3 -->
                      <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                        <i class="fa fa-usd"></i>
                        <h5>Aumente suas vendas pelo Instagram e Facebook</h5>
                        <p>O futuro dos negócios é o mundo digital. Explore seu potencial de vendas com essas ferramentas.</p>
                      </div><!-- / .ft-item -->
                      
                      <!-- Item 6 -->
                      <div class="col-md-12 no-gap ws-s ft-item ft-dark-spin">
                        <i class="fa fa-tachometer"></i>
                        <h5>Monitoramento e relatórios 24h das suas redes socias</h5>
                        <p>Acompanhe diariamente o crescimento e desenvolvimento de suas redes.</p>
                      </div><!-- / .ft-item -->
            </div>
        
        </div><!-- / .row -->
</section><!-- / .container .ft-frames -->

<div class="gray-bg p-s-portfolio">
        <section class="container portfolio-layout portfolio-columns-boxed">
          <div class="row">
            <header class="sec-heading">
              <h2 style="font-family:Meloriac; letter-spacing:0.1em">redes sociais que trabalhamos</h2>
            </header>
          </div><!-- / .row -->

          <div class="row ws-m wow fadeIn" data-wow-duration="1s">

              <!-- Item 1 -->
              <div class="col-md-4 portfolio-item print">
                <div class="p-wrapper hover-default">
                  <img src="assets/images/facebook-01.png" alt="Project Example">
                  <div class="p-hover">
                    <div class="p-content">
                      <h4>Facebook</h4>
                    </div>
                  </div>
                </div>
              </div><!-- / .portfolio-item -->

              <!-- Item 2 -->
              <div class="col-md-4 portfolio-item webdesing photo">
                <div class="p-wrapper hover-default">
                  <img src="assets/images/instagram.png" alt="Project Example">
                  <div class="p-hover">
                    <div class="p-content">
                      <h4>Instagram</h4>
                    </div>
                  </div>
                </div>
              </div><!-- / .portfolio-item -->

              <!-- Item 3 -->
              <div class="col-md-4 portfolio-item photo print">
                <div class="p-wrapper hover-default">
                  <img src="assets/images/youtube.png" alt="Project Example">
                  <div class="p-hover">
                    <div class="p-content">
                      <h4>YouTube</h4>
                    </div>
                  </div>
                </div>
              </div><!-- / .portfolio-item -->

          </div><!-- / .row -->
        </section><!-- / .portfolio-columns-boxed -->
      </div>


      <div class="cta-link" style="background-image: url(assets/images/background02-01.png); background-size:cover">
        <div class="bg-overlay">
          
          <div class="cta-wrapper">
            <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Quer adquirir sua gestão de mídias sociais?</h3>
            <a href="https://api.whatsapp.com/send?phone=5562999569773&text=" target="_blank" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s" style="background-color:#EE0808; color:white; margin-bottom:100px">Entre em contato via Whatsapp</a>
            <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Ou solicite seu orçamento pelo Email <b style="color:#EE0808; font-weight:400;letter-spacing:0.1em">rolle@rolleoficial.com.br</b></h3>
          </div>

        </div>
      </div><!-- / .dark-bg .cta-link -->
        
