  <!-- ========== Hero Cover ========== -->
  
  <title>Vídeo, Marketing Digital, Redes Sociais e Web Design - ROLLE</title>

  <style>
  .services-title{
        font-family:Meloriac;
        font-weight: 400;
        font-size:25px;
        color:#D0302E;
        padding-bottom:30px;

    }

#controlBar_fs-video-one-bg{display: none !important} 


element.style {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1ms !important;
}

element.style {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    opacity: 1;
    transition-property: ;
    transition-duration: 1ms;
}

.fs-video-hero, .fw-video-hero {
    background: url(http://abergavennyarms.co.uk/wp-content/uploads/2014/05/black_1920_1080.jpg);
    background-size: cover;
}
  </style>

  <div class="fs-video-hero">
    
              <!-- Video Background -->
              <div id="fs-video-one-bg" class="player" 
                   data-property="{videoURL:'https://youtu.be/-3ge_6277iw',containment:'.fs-video-hero',autoPlay:true, mute:true, startAt:-33, stopAt:33, opacity:1}">
              </div>
    
              <div class="bg-overlay">
                                
                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                  <div class="hero-content">
                    
                    <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s" style="font-family:Meloriac; font-weight:200">DON'T<br>STAY HOME</h1>
                    <!-- <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s"></h4> -->
                    <a href="#services" class="btn btn-light wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" style="background-color:#BD0000; color:white; font-size:25px">#GOROLLE</a>
    
                  </div>
                </div>
    
                <!-- Scroller -->
                <a href="#services" class="scroller">
                  <span class="scroller-text">Descer</span>
                  <span class="linea-basic-magic-mouse"></span>
                </a>
    
              </div><!-- / .bg-overlay -->
            </div><!-- / .fs-video-hero -->
    
    
    
           
    
    
            <!-- ========== Features - Centerd Image ========== -->
    
            <section class="container section ft-x" id="services">
              <div class="row">
                
                <header class="sec-heading">
                  <h2 class="services-title">ROLLE: a liberdade</h2>
                  <span class="subheading" style="font-weight:400">DE CONQUISTAR SEUS SONHOS.</span>
                </header>
    
                <!-- Feature 1 -->
                <div class="col-lg-4 wow fadeInLeft" data-wow-duration=".8s">
                  
                  <!-- white space -->
                  <div class="ws-m"></div>
    
                  <!-- Material right aligned - Item 1 -->
                  <div class="col-md-12 no-gap ws-s ft-item ft-material right-align">
                    <div class="ft-content">
                      <a href="/videos-producao-de-videos"><h5>Produção Audiovisual</h5></a>
                      <p>Fazemos questão de registrar seus melhores momentos e tornar a lembrança deles mais especiais ainda.</p>
                    </div>
                    <div class="ft-icon">
                      <i class="fa fa-video-camera"></i>
                    </div>
                  </div><!-- / .ft-item -->
    
                  <!-- Material right aligned - Item 2 -->
                  <div class="col-md-12 no-gap ws-s ft-item ft-material right-align">
                    <div class="ft-content">
                      <a href="/gestao-de-midias-sociais"><h5>Gestão de Mídias Sociais</h5></a>
                      <p>Destaque-se nas redes sociais, a maior ferramenta para desenvolvimento de sua imagem e de seu negócio.</p>
                    </div>
                    <div class="ft-icon">
                      <i class="fa fa-thumbs-o-up"></i>
                    </div>
                  </div><!-- / .ft-item -->
    
                </div><!-- / .col-lg-4 -->      
    
                <!-- Center Image -->
                <div class="col-lg-4">
                  <img src="/assets/images/video.png" alt="iPad cover" class="img-responsive center-block wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                </div>
    
                <!-- Features Left -->
                <div class="col-lg-4 wow fadeInRight"  data-wow-duration=".8s">
                  
                  <!-- white space -->
                  <div class="ws-m"></div>
                  
                  <!-- Item 3 -->
                  <div class="col-md-12 no-gap ws-s ft-item ft-material">
                    <i class="fa fa-lightbulb-o"></i>
                    <a href="/marketing-digital-e-seo"><h5>Consultoria de Marketing e SEO</h5></a>
                    <p>Explore o potencial digital que você ainda não descobriu.</p>
                  </div><!-- / .ft-item -->
    
                  <!-- Item 4 -->
                  <div class="col-md-12 no-gap ws-s ft-item ft-material">
                    <i class="fa fa-star"></i>
                    <a href="/criacao-de-web-sites"><h5>DESIGN E CRIAÇÃO DE WEBSITES</h5></a>
                    <p>Crie seu ambiente na Internet e conquiste seu espaço!</p>
                  </div><!-- / .ft-item -->
    
                </div><!-- / .col-lg-4 -->
    
              </div><!-- / .row -->
            </section><!-- / .container -->
    
    
    
            
            
    
            <!-- ========== Portfolio ========== -->
    
            <!-- <section class="container-fluid portfolio-layout portfolio-columns-fw">
              <div class="row">
                <header class="sec-heading">
                  <h2>Veja alguns de nossos projetos!</h2>
                  <span class="subheading" style="font-weight:400">E ENTENDA PORQUE é óbvio que você vai escolher a ROLLE</span>
                </header>
              </div> -->
              
              <section class="container section portfolio-layout portfolio-1col-boxed" style="padding-top:0px;">
                  <div class="row">
                    <header class="sec-heading">
                      <h2 class="services-title">Veja alguns de nossos projetos!</h2>
                      <span class="subheading" style="font-weight:400">E ENTENDA PORQUE é óbvio que você vai escolher a ROLLE</span>
                    </header>
                  </div><!-- / .row -->
                  
                  <!-- Filters -->
                  
        
                  <div class="row">
                    <div id="pfolio">
        
                      <!-- Item 1 -->
                      <figure class="portfolio-item print" >
                            <div class="col-md-7 no-gap img-wrapper">
                                <iframe width="854" height="450" src="https://www.youtube.com/embed/9ASOe6J19zQ" frameborder="0" allowfullscreen style="width:100%"></iframe>
                              <!-- <img src="http://placehold.it/865x615" alt="Project Example"> -->
                            </div>
                            <figcaption class="col-md-5 no-gap" >
                              <h3>VT Thaê Cinema</h3>
                              <h5 class="subheading">ROLLE PRODUCTION</h5>
                              <p>Produção de vídeo feita para a Thaê, marca de moda jovem feminina que buscamos representar através de detalhes que expressam a riqueza de sua coleção.</p>
                            </figcaption>
                      </figure><!-- / .portfolio-item -->
        
                      <!-- Item 2 -->
                      <figure class="portfolio-item webdesing">
                        <div class="col-md-7 no-gap img-wrapper pull-right">
                            <iframe width="854" height="450" src="https://www.youtube.com/embed/mLLllpajMuU" frameborder="0" allowfullscreen style="width:100%"></iframe>
                        </div>
                        <figcaption class="col-md-5 no-gap pull-left">
                          <h3>COBBLE BEACH</h3>
                          <h5 class="subheading">Ilhas Phi Phi</h5>
                          <p>Vídeo produzido para a paradisíaca Cobble Beach, nas Ilhas Phi Phi -  Tailândia. O trabalho valorizou a riqueza visual desse lugar único, além da experiência maravilhosa que é a vida na ilha.</p>
                          
                        </figcaption>
                      </figure><!-- / .portfolio-item -->
        
                      <!-- Item 3 -->
                      <figure class="portfolio-item photo">
                        <div class="col-md-7 no-gap img-wrapper">
                            <iframe width="854" height="450" src="https://www.youtube.com/embed/MykVO4Kc5ps" frameborder="0" allowfullscreen style="width:100%"></iframe>
                        </div>
                        <figcaption class="col-md-5 no-gap">
                          <h3>JORNADA</h3>
                          <h5 class="subheading">UMA OUTRA PERSPECTIVA</h5>
                          <p>Documentário da Jornada de Cinema Empreendedor produzido pela ROLLE para mostrar a jornada de Frederico Linhares, que viajando pelo Brasil copm 15 reais por dia mostrou que realizar seus sonhos é uma questãode de atitude.</p>
                        </figcaption>
                      </figure><!-- / .portfolio-item -->
        
                    </div><!-- / #pfolio -->
                  </div><!-- / .row -->
                </section>
    
             
    
    
            <!-- ========== CTA - Contact Link ========== -->
    
            <div class="cta-link cta-dark" style="background-image: url(assets/images/background-01.png)">
              <div class="bg-overlay">
                
                <div class="cta-wrapper">
                  <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">CONHEÇA TODAS NOSSAS PRODUÇÕES!</h3>
                 
                    <a href="https://www.youtube.com/user/rolenaestrada/featured" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s" style="width:100%">VER TODOS VÍDEOS!</a>
                  
                </div>
    
              </div>
            </div><!-- / .dark-bg .cta-link -->
    
 
    