<title>Marketing Digital e SEO</title>
<style>
    .services-title{
        font-family:Meloriac;
        font-weight: 400;
        font-size:25px;
        color:#D0302E;
        padding-bottom:30px;

    }
</style>

<header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Consultoria de Marketing Digital e SEO</h1>
            </div>
        </div>
    </div>
</header>

<div style="padding-bottom: 0px !important; background-image: url(/assets/images/background1-01.png); background-size:cover">
<section class="container section" >
    <div class="row ws-m" style="background:white; padding:30px; border-radius:20px; opacity:0.85">
      
      <header class="sec-heading">
        <h2 class="services-title" style="opacity:1">O que é <b style="color:black">SEO</b>?</h2>
      </header>

      <div class="col-md-6 mb-sm-50">
        <p style="font-size:22px; text-align:justify; opacity:1;font-weight:600">SEO (Search Engine Optimization) significa no português a otimização dos mecanismos de pesquisa, ou seja, <b style="color:black">tornar o seu site mais acessível</b> tanto para seu cliente como para os mecanismos automáticos de pesquisa como Google e outros.<br><br>Utilizando as práticas e ferramentas certas, é possível que seu site esteja sempre nas primeiras colocações para os termos pesquisados relacionados a sua área. Isso exige um trabalho direto com as <b>ferramentas de marketing digital.</b></p>
      </div>
      <div class="col-md-6">
        <img style="width:100%;opacity:1 !important" src="/assets/images/site-01.png">
      </div>
    </div><!-- / .row -->
</div>

</section>

  <!-- ========== Steps - Numbers ========== -->

  <section class="container ft-steps-numbers" style="padding-top:0px !important">
    <div class="row section">

      <header class="sec-heading ws-s">
        <h2 class="services-title">Conheça as práticas do Marketing Digital</h2>
      </header>
      
      <!-- Step 1 -->
      <div class="col-lg-4 col-md-6 mb-sm-100 ft-item">
        <span class="ft-nbr">01</span>
        <h4>Estudo das Tendências</h4>
        <p>Análise dos termos utilizados, público e regiões nas quais o seu produto ou mercado é mais buscado.</p>
      </div>

      <!-- Step 2 -->
      <div class="col-lg-4 col-md-6 mb-sm-100 ft-item">
        <span class="ft-nbr">02</span>
        <h4>Estratégia e Aplicação da Análise em Seu ambiente virtual</h4>
        <p>Adaptar seu site e redes sociais de acordo com os dados levantados no estudo de tendências de marketing</p>
      </div>

      <!-- Step 3 -->
      <div class="col-lg-4 col-md-6 mb-sm-100 ft-item">
        <span class="ft-nbr">03</span>
        <h4>Verificação dos Resultados e Manutenção Constante</h4>
        <p>Atingindo as metas estabelecidas no plano de marketing desenvolvido, passa-se a fazer a manutenção e revisão das estratégias usadas nas próximas campanhas de marketing.</p>
      </div>

    </div><!-- / .row -->
  </section><!-- / .container -->

  <div class="cta-link" style="background-image: url(assets/images/background02-01.png); background-size:cover">
    <div class="bg-overlay">
      
      <div class="cta-wrapper">
        <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Quer a consultoria de <b style="color:#D0302E">Marketing digital</b> e <b style="color:#D0302E">SEO da ROLLE?</b></h3>
        <a href="https://api.whatsapp.com/send?phone=5562999569773&text=" target="_blank" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s" style="background-color:#EE0808; color:white; margin-bottom:100px; font-weight:500">Entre em contato via Whatsapp</a>
        <h3 class="h-alt wow fadeIn services-title" data-wow-delay=".1s" data-wow-duration="1s">Ou solicite seu orçamento pelo Email <b style="color:#EE0808; font-weight:400;letter-spacing:0.1em">rolle@rolleoficial.com.br</b></h3>
      </div>
  
    </div>
  </div><!-- / .dark-bg .cta-link -->